src/main/mule/my-demo-ci-cd-project.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b4da19c3-3166-4abe-b8c3-e5cdac696eb4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="my-demo-ci-cd-projectFlow" doc:id="8264225e-28fd-47ae-8c39-3684227885f6" >
		<http:listener doc:name="Listener" doc:id="cfec90b6-86e3-4dd4-a9d9-7992dd4bcc30" config-ref="HTTP_Listener_config" path="demo"/>
		<logger level="INFO" doc:name="payload" doc:id="49bbaed3-9493-4973-a203-e3c818c22a70" message="#[payload]"/>
	</flow>
</mule>
